<%= form_with(model: lead, local: true) do |form| %>
  <% if lead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
      <% lead.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :lead_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :lead_email %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: :lead_age %>
  </div>

  <div class="field">
    <%= form.label :job %>
    <%= form.text_field :job, id: :lead_job %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
