
<%= render 'partials/cover' %>

<section id="lead-section" class="lead-section">
	<div class="container">
		<div class="section-title">
			<%= t('section.lead.title').upcase %>
		</div>
		<div class="section-subtitle"> 
			<%= t('section.lead.subtitle') %> 
		</div>

		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				<%= render 'form', lead: @lead %>

				<br>
				<br>

				<%= render 'partials/form_error', object: @lead if @lead.errors.any? %>
			</div>
		</div>


	</div>
</section>
