<!DOCTYPE html>
<html>
  <head>
    <title>LeadBee</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

	<body data-controller="<%= controller_name %>" data-action="<%= action_name %>">

		<%= render 'partials/navbar' %>

		<%= render 'partials/cover' %>

    <%= yield %>
  </body>
</html>
