<!DOCTYPE html>
<html>
  <head>
		<title><%= t('page.title') %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

	<body data-controller="<%= controller_name %>" data-action="<%= action_name %>">

		<%= render 'partials/navbar' %>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<%= yield %>
				</div>
			</div>
		</div>

  </body>
</html>
